html{
    display: flex;
}
body{
    margin-top: 20%;
    background-color: lightgray;
    display: flex;
    box-sizing: border-box;
    vertical-align: middle;
    margin: auto;
    font-family: "Noto Sans", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 10px;
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
#dataFeed{
    padding-bottom: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.header{
    display: flex;
    padding-bottom: 10px;
}

.header img{
    display: block;
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.header li{
    padding-left: 10px;
    color: black;
    font-weight: bold;
    font-size: medium;
}



li.location{
    font-size: medium;
    font-weight: normal;
}

ul.footer{
    color: black;
    font-size: small;
}
.title{
    font-size: medium;
    font-weight: bolder;
}
.content{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.content img{
    width: 100%;
    justify-content: center;
    border-radius: 10px;
}



footer{
    position: fixed;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;

}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0%;

}