html{
    display: flex;
}
body{
    margin-top: 20%;
    box-sizing: border-box;
    vertical-align: middle;
    margin: auto;
    font-family: "Noto Sans", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    border-style: solid;
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
#dataFeed{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}


li.username{
    width: 100%;
    color: red;
    background-color: grey;
}

ul.footer{
    color: green;
    background-color: grey;

}
.content{
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    justify-content: center;
}



footer{
    position: fixed;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    background-color: gray;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0%;

}